/* RESET
/********/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Helvetica, arial, freesans, clean, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0 auto;
}
/*    color: #333;   */
body > *:first-child {
    margin-top: 0 !important;
}

body > *:last-child {
    margin-bottom: 0 !important;
}



/* IMAGES
=============================================================================*/

/* 清除浮动 */
div.clear-float {
    clear: both;
}

/* 隐藏空图片 */
img[src=''], img[src$='./images/'] {
    display: none;
}

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
    max-width: 100%

 */

img {
	border: 0;
	max-width: 98%;
	width: auto;
	height: auto;
	display:flex;
	text-align:center;
    justify-content:center;
    align-items:center;
}
/* BLOCKS
=============================================================================*/

p, blockquote, ul, ol, dl, table, pre {
    margin: 15px 0;
}

/* HEADERS
=============================================================================*/

h1, h2, h3, h4, h5, h6 {
    margin: 20px 0 10px;
    padding: 0;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

h1 tt, h1 code, h2 tt, h2 code, h3 tt, h3 code, h4 tt, h4 code, h5 tt, h5 code, h6 tt, h6 code {
    font-size: inherit;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 24px;
    border-bottom: 1px solid #ccc; // 灰白
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    color: #777;
    font-size: 14px;
}

/* LINKS
=============================================================================*/

a {
    color: #4183C4; // 蓝色
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul, ol {
    padding-left: 30px;
}

ul li > :first-child,
ol li > :first-child,
ul li ul:first-of-type,
ol li ol:first-of-type,
ul li ol:first-of-type,
ol li ul:first-of-type {
    margin-top: 0px;
}

ul ul, ul ol, ol ol, ol ul {
    margin-bottom: 0;
}

dl {
    padding: 0;
}

dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px;
}

dl dt:first-child {
    padding: 0;
}

dl dt > :first-child {
    margin-top: 0px;
}

dl dt > :last-child {
    margin-bottom: 0px;
}

dl dd {
    margin: 0 0 15px;
    padding: 0 15px;
}

dl dd > :first-child {
    margin-top: 0px;
}

dl dd > :last-child {
    margin-bottom: 0px;
}

/* CODE
=============================================================================*/

pre, code, tt {
    font-size: 12px;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
}

code, tt {
    margin: 0 0px;
    padding: 0px 0px;
    white-space: nowrap;
    border-radius: 3px;
}

pre > code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent;
}

pre {
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}

pre code, pre tt {
    background-color: transparent;
    border: none;
}

kbd {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #DDDDDD;
    background-image: linear-gradient(#F1F1F1, #DDDDDD);
    background-repeat: repeat-x;
    border-color: #DDDDDD #CCCCCC #CCCCCC #DDDDDD;
    border-image: none;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 10px;
    padding: 1px 4px;
}

/* QUOTES
=============================================================================*/

blockquote {
    border-left: 4px solid #DDD;
    padding: 0 15px;
    color: #777;
}

blockquote > :first-child {
    margin-top: 0px;
}

blockquote > :last-child {
    margin-bottom: 0px;
}

/* HORIZONTAL RULES
=============================================================================*/

hr {
    clear: both;
    margin: 10px 0;
    height: 0px;
    overflow: hidden;
    border: none;
    background: transparent;
    border-bottom: 4px solid #ddd;
    padding: 0;
}

/* TABLES
=============================================================================*/

table th {
    font-weight: bold;
}


#art{
    padding: 20px 20px 20px 20px;
}
#art_h1{
    text-align:center;font-size: 22px;
}
#art_author{
    float:left;width:50%;font-size: 14px;
}
#art_pubDate{
    float:left;width:50%;text-align:right;font-size: 14px;
}
#art_hr{
    margin: 10px 0px 10px 0px;
}

