/* RESET
/********/

body {
    color: #97A0A5;
    background-color:rgba(0,0,0,0);
    background-color: #202B2F;
}

/* TABLES
=============================================================================*/

table {
    background-color: #202B2F;
}
