/app/build/tmp
/app/build/outputs/logs
/app/build/outputs
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea
app/src/test/
daogenerator/libs/
app-release.apk
/app/src/main/java/me/wizos/loread/dump/
dump/
/swipelayout/
src/main/java/me/wizos/test/Test.java
/daogenerator/src/main/java/me/wizos/test/Test.java
/gradlew
/gradlew.bat
