/app/build/tmp
/app/build/outputs/logs
/app/build/outputs
/plugin/oneapm-android-gradle-plugin-2.0.0.jar
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea
