/* #f8f8f8;灰白
    background-color:rgba(0,0,0,0);*/

body {
    //color: #333;
color:#293845;
    background-color: #FFFFFF;
}
/* 标题
=============================================================================*/
/*
h1,h2 {
    color: #000;
    border-bottom: 1px dashed #ccc;
}

hr {
    //background-color:#f8f8f8;
}
*/

/* 表格
=============================================================================*/
table{
    background-color: #f8f8f8;
}
table th, table td {
    border: 1px solid #ccc;
}

/* 代码
=============================================================================*/
code, tt ,pre {
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
}
blockquote{
	background: rgba(0, 0, 0, 0.04) !important;
	color: rgba(0, 0, 0, 0.5) !important;
}