::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #2c3e50;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

body{
    color: #c6cddb;
    background-color: #454952;
}

header > h1 > a {
	color: #c6cddb;
}

/* 代码、表格
=============================================================================*/
pre {
    color: #eee;
    background: #2c3e50; 
}

code {
	color: #eee;
	background: #7d828a;
}
table{
    color: #eee;
	border: 1px solid rgba(0, 0, 0, 0.1) !important;
	background: rgba(0, 0, 0, 0.08) !important;
}
tt {
    background-color: #141e21;
    border: 1px solid #203238;
}

table th, table td {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

/* 降低亮度 */
img,video,iframe,embed {
    -webkit-filter:brightness(0.75);
}
blockquote{
	background: rgba(0, 0, 0, 0.08) !important;
	border-left: 5px solid rgba(0, 0, 0, 0.3) !important;
	color: rgba(255, 255, 255, 0.6) !important;
}
details{
	padding: 5px 5px !important;
	margin: 5px 0px !important;
	background: rgba(0, 0, 0, 0.08) !important;
}
