/* RESET
/********/

body {
    color: #97A0A5;
    background-color:rgba(0,0,0,0);
    background-color: #202B2F;
}

/* TABLES
=============================================================================*/

table {
    background-color: #202B2F;
}

h1 {
    color: #E3E8E7;
}
h2 {
    border-bottom: 1px solid #ccc;
    color: #E3E8E7;
}
hr {
    background-color: #141e21; // 深绿
}

code, tt , pre ,img {
    background-color: #141e21; // 深绿
    border: 1px solid #203238; // 浅绿
}


table th, table td {
    border: 1px solid #203238;
    padding: 6px 13px;
}

table tr {
    background-color: #203238; // 浅绿
    border-top: 1px solid #203238;
}
table tr:nth-child(2n) {
    background-color: #203238;
}