body {
    color:#293845;
    background-color: #FFFFFF;
}

header > h1 > a {
	color: #293845;
}

/* 表格
=============================================================================*/
table{
    background-color: #f8f8f8;
}
table th, table td {
    border: 1px solid #ccc;
}

/* 代码
=============================================================================*/
code, tt ,pre {
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
}
blockquote{
	background: rgba(0, 0, 0, 0.04) !important;
	border-left: 5px solid rgba(0, 0, 0, 0.1) !important;
	color: rgba(0, 0, 0, 0.5) !important;
}
details{
	padding: 5px 5px !important;
	margin: 5px 0px !important;
	background: rgba(0, 0, 0, 0.04) !important;
}