/* 重置 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
:focus{outline:none}

@font-face {
	font-family: 'roboto_light';
	src: url('file:///android_asset/fonts/roboto_light.ttf');
}

body {
	padding: 20px 15px !important;
	word-wrap: break-word !important;
}

body,p,font {
	font-family: roboto_light,sans-serif !important;
	font-size: 16px;
	line-height: 160% !important;
	letter-spacing:1px;
}

body > *:first-child {
	margin-top: 0 !important;
}
body > *:last-child {
	margin-bottom: 0 !important;
}


/* BLOCKS */
p, ul, ol, dl, table, pre, figure {
	margin: 10px 0;
}
table pre{
	margin: 0px 0;
}

/*
* {
	background-image:none !important;
}
*/

/*
 * 设置最大宽度，防止超出屏幕
body * {
	max-width: 100% !important;
}
div,p,tbody,textarea,ins,input{
	max-width: 100% !important;
}
 */
/*
div:not(.plyr__menu__container),p,tbody,textarea,ins,input{
	max-width: 100% !important;
}
*/
p, tbody, textarea, ins, input{
	max-width: 100% !important;
}
/* 
 * 如果表格内的div宽度过长，设置最大宽度是无法防止溢出的，所以得手动将其宽度改为自适应
 */
table div{
	width:auto !important;
}

p{
	text-indent:0 !important;
	background:none !important;
	width:auto !important;
	height:auto !important;
}

/* HEADERS */
h1 tt, h1 code, h2 tt, h2 code, h3 tt, h3 code, h4 tt, h4 code, h5 tt, h5 code, h6 tt, h6 code {
	font-size: inherit;
}

section h1,h2,h3,h4,h5,h6{
	font-family: roboto_light !important;
	padding: 0 0px !important;
	margin: 15px 0px !important;
}

h4:before{
	content: "⭕️";
}
h5:before{
	content: "💢";
}
h6:before{
	content: "🌀";
}
section h1 {
	font-size: 24px;
	box-shadow: inset 0 -8px 0 #bf53b1;
}
h2 {
	font-size: 20px;
	box-shadow: inset 0 -6px 0 #f7615f;
}
h3 {
	font-size: 16px;
	box-shadow: inset 0 -2px 0 #e0af55;
}
h4 {
	font-size: 16px;
	color: #d2cd3e;
}
h5 {
	font-size: 16px;
	color: #6AC749;
}
h6 {
	font-size: 16px;
	color: #32b9a8;
}


/* LINKS // !important*/
a {
	color: #51a1f1;
}
a > svg{
	width: 14px;
	height:auto;
}
section a {
	text-decoration: underline !important;
}
#title a {
	text-decoration: none;
}
a[href=''],a:not([href]) {
	text-decoration: none !important;
}

/* 列表 */
ul, ol {
	padding: 0 0 0 1em;
	list-style-position:inside;
}

ul li > :first-child,
ol li > :first-child,
ul li ul:first-of-type,
ol li ol:first-of-type,
ul li ol:first-of-type,
ol li ul:first-of-type {
	margin-top: 0px;
}
ul ul, ul ol, ol ol, ol ul {
	margin-bottom: 0;
}
li{
	margin: .2em 0;
}
/*
dl {
	padding: 0;
}
*/
dl dt {
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	margin: 15px 0 5px;
}

dl dt:first-child {
	padding: 0;
}

dl dt > :first-child {
	margin-top: 0px;
}

dl dt > :last-child {
	margin-bottom: 0px;
}

dl dd {
	margin: 0 0 15px;
	padding: 0 15px;
}

dl dd > :first-child {
	margin-top: 0px;
}

dl dd > :last-child {
	margin-bottom: 0px;
}

/* 表格 */
table {
	width: auto !important;
	height: auto !important;
	margin: 5px 0 !important;
	border-collapse: collapse !important;
	border-spacing: 0;
	font-size: .8em;
	line-height: 1.1;
	max-width: 100% !important;
	padding: .5em .5em;
	overflow: auto;
	word-wrap: break-word !important;
	letter-spacing: normal;
	border-radius: 5px;
}
table th {
	font-weight: bold;
}
table th,table td {
	padding: 5px !important;
	width: auto !important;
	max-width: 100% !important;
	height: auto !important;
}
thead > tr, tbody > tr:nth-child(2n) {
	background: rgba(0, 0, 0, 0.06) !important;
}
table p{
	margin: 5px 0;
}
/* 垂直居中 */
th img, td img{
	vertical-align:middle;
}
/* 对齐是排版最重要的因素, 别让什么都居中 */ 
caption, th {
	text-align: left;
}
caption {
	margin: 5px 0 !important;
}
td pre, td code,pre code, pre tt {
	border: 0 !important;
	background: transparent  !important;
}

/* CODE */
pre code, pre, code, tt {
	font-family: Consolas, Liberation Mono Courier, monospace;
}
pre {
	font-size: .8em;
	line-height: 1.5;
	max-width: 100% !important;
	padding: .5em .5em;
	overflow: auto;
	word-wrap: break-word !important;
	letter-spacing: normal;
	white-space: pre;
	border-radius: 5px;
	text-align: left;
}
pre code,table pre{
	font-size: .8em;
}
code {
	font-size: .8em;
	border-radius: 3px;
	padding: 0 3px;
	margin: 0 3px;
	word-break: break-all;
	letter-spacing:normal;
}
tt {
	margin: 0 0px;
	padding: 0 0px;
}

/* QUOTES */
blockquote {
	font-size: .8em !important;
	padding: 5px 5px 5px 15px !important;
	margin: 15px 0 15px 0px !important;
}
blockquote > :first-child {
	margin-top: 0px !important;
}
blockquote > :last-child {
	margin-bottom: 0px !important;
}

/* figure */
figure {
	max-width: 100%;
	height: auto;
	text-align: center;
}
figcaption {
	font-size: .8em;
	font-style: italic;
	opacity: .6;
}
textarea{
	display:none;
}

/* 图片，视频 */
/* 隐藏src为空的元素 */
/*
img[src=''],img[original-src=''],audio:not([src]),iframe:not([src]),[src=''],blockquote:empty,figure:empty,table:empty,pre:empty,code:empty,div:empty {
	display: none !important;
}
*/
img {
	margin: 5px 0 !important;
	max-width: 100% !important;
	width: auto;
	height: auto !important;
	border-radius: 5px;
}

a > img{
	display: block;
}
video,iframe,embed {
	width: 100% !important;
	height: 100% !important;
	display: block !important;
}
.video_wrap,.iframe_wrap,.embed_wrap {
	margin: 5px 0 !important;
	border-bottom: 5px solid rgba(0, 0, 0, 0.1) !important;
	border-top: 5px solid rgba(0, 0, 0, 0.1) !important;
	border-radius: 5px !important;
	background:repeating-linear-gradient(-50deg,#E8E8E8,#E8E8E8 1em,#d2d2d2 1em,#d2d2d2 2em) !important;
}
.table_wrap{
	overflow-x:auto !important;
}
audio {
	height: 32px;
	width: 100% !important;
	margin: 5px 0 !important;
}
/*
video {
    background:rgba(0, 0, 0);
}
*/

/* 文章相关信息的排版*/
hr {
	opacity: .2;
	border-width: 0 0 5px;
	border-style: dashed;
	background: transparent;
	width: 50%;
	margin: .9em auto;
}
#title {
	font-family:roboto_light,sans-serif !important;
	font-size: 1.4em;
	margin-bottom: 5px;
}
#author,#pubDate {
	font-size: .8em !important;
	margin: 0 !important;
	opacity: 0.4;
}
#readability-button{
	font-size:12px;
	margin-top: 10px
}
#content{
	margin-top: 10px
}


del{
	opacity:0.4;
}

mjx-container {
    overflow-x: auto;
    overflow-y: hidden;
}
.plyr {
	border-radius: 5px !important;
}