/* 重置 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	max-width: 100%;
	word-break: break-all;
}

body {
        font-family:Noto Sans,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif !important;
	font-size: 16px !important;
	line-height: 1.6 !important;
	margin: 0 auto !important;
	-webkit-text-size-adjust: 100%;/* 如果不想让iPhone横坚屏切换的时候调节文字这个 */
}

body > *:first-child {
	margin-top: 0 !important;
}

body > *:last-child {
	margin-bottom: 0 !important;
}

strong,b {
	font-style: italic
}
/* 图片，视频
=============================================================================*/
/* 隐藏空图片 */
img[src=''] {
	display: none;
}

img {
	max-width: 100% !important;
	width: auto !important;
	height: auto !important;
	margin: 5px 0 !important;
	display: flex !important;
	text-align: center !important;
	align-items: center !important;
	justify-content: center !important;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio,video,iframe,embed,pre, canvas{
	max-width: 100% !important;
	width: 100% !important;
	height: auto !important;
	display: inline-block;
}

video,iframe,embed {
	background: #E8E8E8;
	background-image: repeating-linear-gradient(-30deg, hsla(0,0%,10%,.1),hsla(0,0%,10%,.1) 15px, transparent 0,transparent 30px);
}
/* 如果在div中直接有文字，然后有audio，位置会错位。指定audio的高度可以解决 */
audio {
    height: 32px;
}

/* BLOCKS
=============================================================================*/

p,section,code,pre,article {
	word-wrap: break-word; /* 自动折行 */
}

p, blockquote, ul, ol, dl, table, pre {
	margin: 15px 0;
}

div {
	max-width: 100% !important;
}
/* HEADERS
=============================================================================*/

h1, h2, h3, h4, h5, h6 {
	margin: 10px 0 10px;
	padding: 0;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
}

h1 tt, h1 code, h2 tt, h2 code, h3 tt, h3 code, h4 tt, h4 code, h5 tt, h5 code, h6 tt, h6 code {
	font-size: inherit;
}

h1 {
	font-size: 22px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 16px;
}

h5, h6 {
	font-size: 14px;
}


/* LINKS
=============================================================================*/
a {
	color: #4183C4;
	text-decoration:  underline;
}

a:hover {
	text-decoration: underline;
}


/* 列表
=============================================================================*/
ul, ol {
	padding-left: 30px;
}

ul li > :first-child,
ol li > :first-child,
ul li ul:first-of-type,
ol li ol:first-of-type,
ul li ol:first-of-type,
ol li ul:first-of-type {
	margin-top: 0px;
}

ul ul, ul ol, ol ol, ol ul {
	margin-bottom: 0;
}

dl {
	padding: 0;
}

dl dt {
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	padding: 0;
	margin: 15px 0 5px;
}

dl dt:first-child {
	padding: 0;
}

dl dt > :first-child {
	margin-top: 0px;
}

dl dt > :last-child {
	margin-bottom: 0px;
}

dl dd {
	margin: 0 0 15px;
	padding: 0 15px;
}

dl dd > :first-child {
	margin-top: 0px;
}

dl dd > :last-child {
	margin-bottom: 0px;
}

/* CODE
=============================================================================*/
pre, code, tt {
	font-size: 12px;
	font-family: Consolas, "Liberation Mono", Courier, monospace;
}

code, tt {
	margin: 0 0px;
	padding: 0 0px;
	border-radius: 3px;
}

pre > code {
	margin: 0;
	padding: 0;
	white-space: pre;
	border: none;
	background: transparent;
}

pre {
	padding: 5px 0;
	line-height: 19px;
	overflow: auto;
	border-radius: 3px;
	white-space: pre-wrap!important;
	word-wrap: break-word!important;
	*white-space: normal!important;
}

pre code, pre tt {
	background-color: transparent;
	border: none;
}

/* QUOTES
=============================================================================*/
blockquote {
	border-left: 4px solid #4183C4;
	padding: 0 15px;
	color: #777;
}

blockquote > :first-child {
	margin-top: 0px;
}

blockquote > :last-child {
	margin-bottom: 0px;
}

/* 表格
================================*/
table {
	table-layout: fixed !important;
	border-collapse: collapse !important;
	border-spacing: 0;
	padding: 5px 0;
	max-width: 100% !important;
	width: 100% !important;
	height: auto !important;
}

table th {
	font-weight: bold;
}

table th, table td {
	padding: 2px 0px !important;
	font-size: 14px !important;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption, th {
	text-align: left;
}



/* 文章的排版
================================*/
hr {
	clear: both;
	margin: 8px 0;
	height: 0px;
	overflow: hidden;
	border: none;
	background: transparent;
	border-bottom: 1px dashed #ddd;
	padding: 0;
}

#hr {
	margin: 10px 0px;
	border-bottom: 1px solid #ddd;
}

article {
	padding: 10px 10px;
}

#title {
	text-align: center;
	font-size: 20px;
}

#title a {
	text-decoration: none
}

#author {
	text-align: center;
	font-size: 14px;
	margin-bottom: 5px;
	opacity: 0.4;
}

#pubDate {
	margin: 0px 0;
	text-align: center;
	font-size: 14px;
	opacity: 0.4;
}
#video-button {
    background-color:#4183C4;
    border: none;
    color: white;
    padding: 8px 0px;
    font-size: 12px;

    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    height: 32px;
    width: 100%;
    cursor: pointer;
    z-index: 6;
}