<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.wizos.loread">
    <!-- 允许访问振动设备 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 网络相关权限；MTA统计必选权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 查看帐户需要权限 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- 添加帐户需要权限 -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 访问电话状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 安装app，用于更新 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 允许读写系统设置项 -->
    <!-- <uses-permission android:name="android.permission.WRITE_SETTINGS" /> -->
    <!-- 挂载、反挂载外部文件系统 -->
    <!-- <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> -->
    <!-- 读取系统底层日志 -->
    <!-- <uses-permission android:name="android.permission.READ_LOGS" /> -->
    <!-- 允许程序在手机屏幕关闭后后台进程仍然运行 -->
    <!-- <uses-permission andruserNamename="android.permission.WAKE_LOCK" /> -->
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" /> <!-- <uses-permission android:name="android.permission.GET_TASKS"/> -->
    <!-- [尝试] 防止左右滑动时的报错 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 通过WiFi或移动基站的方式获取用户错略的经纬度信息，定位精度大概误差在30~1500米 -->
    <!-- <uses-permission andruserNamename="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <!-- 读取，写出外置SD卡内容的权限该目录 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:appComponentFactory="me.wizos.loread"
        android:backupAgent=".work.DBBackupHelper"
        android:extractNativeLibs="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Day"
        tools:replace="android:networkSecurityConfig,android:appComponentFactory"
        tools:targetApi="q">

        <!-- 停用安全浏览检查，避免 google 收集数据 -->
        <meta-data android:name="android.webkit.WebView.EnableSafeBrowsing" android:value="false" />
        <meta-data android:name="android.webkit.WebView.MetricsOptOut" android:value="true" />

        <!--value的值填写你在友盟后台申请的应用Appkey-->
        <!--<meta-data android:value="${UMENG_APP_KEY}" android:name="UMENG_APPKEY"/>-->
        <meta-data android:value="5fe169310b4a4938464e0332" android:name="UMENG_APPKEY"/>
        <!--value的值填写渠道名称，例如yingyongbao。这里设置动态渠道名称变量-->
        <meta-data android:value="${UMENG_CHANNEL_VALUE}" android:name="UMENG_CHANNEL"/>

        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="user"
            android:theme="@style/AppBaseTheme.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ProviderActivity"
            android:configChanges="uiMode|orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Day.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth_inoreader"
                    android:scheme="loread" />
                <data
                    android:host="feedlyauth"
                    android:scheme="palabre" />
                <data
                    android:host="auth"
                    android:scheme="pby" />
                <data
                    android:host="oauth"
                    android:scheme="feedme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.login.LoginActivity"
            android:configChanges="uiMode|orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.ProviderActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.Day.NoActionBar" />
        <activity
            android:name=".activity.login.LoginTinyRSSActivity"
            android:configChanges="uiMode|orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.ProviderActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.Day.NoActionBar" />
        <activity
            android:name=".activity.login.LoginInoReaderActivity"
            android:configChanges="uiMode|orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.ProviderActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.Day.NoActionBar" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="uiMode|orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.Day.NoActionBar" />
        <activity
            android:name=".activity.ArticleActivity"
            android:configChanges="uiMode|orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.Day.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.MusicActivity"
            android:configChanges="uiMode|orientation|screenSize|keyboardHidden"
            android:label="@string/music"
            android:launchMode="singleTask"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.Day.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.TTSActivity"
            android:configChanges="uiMode|orientation|screenSize|keyboardHidden"
            android:label="@string/speak"
            android:launchMode="singleTask"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.Day.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" /> <!-- 最好不要注册为系统浏览器组件，不然当被设为系统默认的浏览器时，因为我没有处理添加下载监听，和默认打开系统浏览器的事件，会导致循环在这个页面 -->
        <activity
            android:name=".activity.WebActivity"
            android:configChanges="uiMode|orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:theme="@style/AppBaseTheme.SplashTranslucentTheme" />
        <activity
            android:name=".activity.Web2Activity"
            android:configChanges="uiMode|orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:theme="@style/AppBaseTheme.SplashTranslucentTheme" />
        <activity
            android:name=".activity.SearchActivity"
            android:configChanges="uiMode|orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.Day.NoActionBar" />
        <activity
            android:name=".activity.SettingActivity"
            android:configChanges="uiMode|orientation|screenSize|keyboardHidden"
            android:label="@string/settings"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.Day.NoActionBar" />
        <activity
            android:name=".activity.LabActivity"
            android:configChanges="uiMode|orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity android:name=".activity.RuleGenerateActivity" />
        <activity
            android:name=".activity.FeedActivity"
            android:configChanges="uiMode|orientation|screenSize|keyboardHidden"
            android:label="@string/feed"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Day.NoActionBar" />
        <activity
            android:name=".activity.UrlRewriteActivity"
            android:configChanges="uiMode|orientation|screenSize|keyboardHidden"
            android:label="@string/url_rewrite"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Day.NoActionBar" />
        <activity
            android:name=".activity.ProxyActivity"
            android:configChanges="uiMode|orientation|screenSize|keyboardHidden"
            android:label="@string/proxy"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Day.NoActionBar" />
        <activity
            android:name=".activity.RuleUpdateActivity"
            android:configChanges="uiMode|orientation|screenSize|keyboardHidden"
            android:label="@string/rules_update"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Day.NoActionBar" />
        <activity
            android:name=".activity.TriggerRuleEditActivity"
            android:configChanges="uiMode|orientation|screenSize|keyboardHidden"
            android:label="@string/rule_configuration"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Day.NoActionBar" />
        <activity
            android:name=".activity.TriggerRuleManagerActivity"
            android:configChanges="uiMode|orientation|screenSize|keyboardHidden"
            android:label="@string/rules_management"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Day.NoActionBar" />

        <activity
            android:name="com.king.zxing.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CaptureTheme"/>

        <service
            android:name=".service.MusicService"
            android:exported="false"
            android:permission="android.permission.BIND_SERVICE" />
        <service
            android:name=".service.AudioService"
            android:exported="false"
            android:permission="android.permission.BIND_SERVICE" />
    </application>

</manifest>